/** Custom general style **/
.navbar-nav > li > a, .dropdown-menu > li > a{
	border-radius:15px;
}

.breadcrumb li a {
    border-radius:15px;
}
.impact_img svg {
	background-color:${webleger.site.style.color};
	color:${webleger.site.style.background.color};
}
.primary .impact_img svg {
	background-color:${webleger.site.style.primary.highlight.color};
}

#preHeader_blocks .action_centered a {
	margin:0;
	display: flex;
	align-items: center;
	gap: 15px;
}

#preHeader_blocks {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}
#preHeader .blockContent {
	padding: 0;
	margin-left: 12px;
}
#preHeader .blockContent > p{
	margin : 0px;
}
#preHeader .blockIcon{
	width: auto;
	height:auto;
}

#lp_title {
	color:${webleger.site.style.secondary.color};
	background-color:${webleger.site.style.secondary.background.color};
}

#footer_blocks .block {
	text-align:left;
}
#footer_blocks .blockBody {
	flex-direction: row;
}

@media screen and (min-width: 640px) {
	#footer_blocks .block {
		width:31%;
	}
	#preHeader_blocks {
		justify-content: flex-start;
		margin: 10px 0;
	}
	.preHeader .blockContent {
		margin-left: 25px;
	}
	#lp_title {
		height:840px;
	}
}
