/** Custom general style **/
.navbar-nav > li > a, .dropdown-menu > li > a{
	border-radius:15px;
}

.breadcrumb li a {
    border-radius:15px;
}
.impact_img svg {
	background-color:${webleger.site.style.color};
	color:${webleger.site.style.background.color};
}
.primary .impact_img svg {
	background-color:${webleger.site.style.primary.highlight.color};
}

#preHeader_blocks .action_centered a {
	margin:0;
}

#preHeader_blocks {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#preHeader .block {
	padding: 0 20px;
}
#preHeader .blockContent {
	padding: 0;
	margin-left: 12px;
}
#preHeader .blockContent > p{
	margin : 0px;
}
#preHeader .blockIcon{
	width: auto;
	height:auto;
}
#preHeader .social_icon_and_text .blockContent{
	display: flex;
	flex-flow: column;
	gap: 10px;
}

.social_icon_and_text a{
	display: flex;
	align-items: center;
	gap: 10px;
}

.homePage {
	text-align:center;
}

.homePage .pageContent .block {
	padding: 20px 0;
}

.homePage .pageContent #afterBody > .block .blockTitle {
	margin-top:0;
	padding-top:25px;
}
.pageContent {
    padding: 0;
}

.credit a {
	color:${webleger.site.style.secondary.background.color};
}

.lp_title {
	padding:50px;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.lp_title .blockTitle {
	text-align: center;
	font-size: 300%;
}
.lp_title .blockContent {
	text-align: center;
}
.lp_title .blockContent h2 {
	font-size: 300%;
	margin-bottom:40px;
	display: inline-block;
    background-color: hsl(212, 32%, 26%, 0.5);
}
.lp_title .blockContent h3 {
	font-size: 200%;
	margin-bottom:20px;
	padding:10px;
	background-color: hsl(212, 32%, 26%, 0.5);
}
.lp_title .blockContent p {
	margin-bottom:20px;
	padding:5px;
	background-color: hsl(212, 32%, 26%, 0.5);
	letter-spacing: 1px;
}

.lp_impact .card {
	text-align:center;
	border: 2px solid hsl(212,20%,85%);
    box-shadow: none;
    border-radius: 20px;
    background-color: ${webleger.site.style.highlight.background.color};
    padding: 10px;
    margin-top: 20px;
}
.lp_impact .card_image {
	display: flex;
    height: 60px;
    width: 60px;
    margin: auto;
    border-radius: 9999px;
    background-color: #e5eae3;
    justify-content: center;
    align-items: center;
	color:${webleger.site.style.primary.background.color};
}
.lp_impact .card_content strong {
	color:${webleger.site.style.color};
}
.lp_impact .card_content p {
	color:${webleger.site.style.discret.color};
}

.lp_adopter {
	background-color:${webleger.site.style.highlight.background.color};
}
.lp_adopter .card {
	border-left: 2px solid hsl(212,20%,85%);
	border-right: 2px solid hsl(212,20%,85%);
	border-bottom: 2px solid hsl(212,20%,85%);
    box-shadow: none;
    border-radius: 20px;
    background-color:${webleger.site.style.background.color};
}

#mainContent .pageContent a:not(:no_state) {
	color:${webleger.site.style.primary.background.color};
	text-decoration: underline;
}
#mainContent .pageContent a:hover:not(:no_state) {
	color:${webleger.site.style.secondary.background.color};
	text-decoration: none;
}


#mainContent .moreAdopter {
	border-top: 2px solid ${webleger.site.style.secondary.background.color};
	margin-top: 10px;
	border-radius: 20px;
	border-bottom: 2px solid ${webleger.site.style.secondary.background.color};
	margin-bottom: 10px;
}

#mainContent .cardAnimal .title {
	font-size: x-large;
	font-weight: bold;
	margin: 20px 0 20px 50px;
}

#mainContent .cardAnimal .card .card_image {
	margin: 0 auto;
	display: block;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	max-width: initial;
	height:auto;
	max-width: 100%;
}
.cardAnimal  .card .card_title {
	 padding: 10px 0;
}
.cardAnimal .card .card_exerpt {
	 padding: 10px 0;
}

.lp_event {
	background-color:${webleger.site.style.discret.background.color};
	color: ${webleger.site.style.titles.color};
}

.homePage .help .card, .homePage .help .card h3 {
	background-color : #5a8a79;
	color:${webleger.site.style.primary.color};
}

.homePage .help .card {
	box-shadow: none;
	padding: 10px;
}
.homePage .help .card .card_image {
	display: flex;
    height: 60px;
    width: 60px;
    margin: auto;
    border-radius: 9999px;
    background-color: #7a9f90;
    justify-content: center;
    align-items: center;
}

.sticker {
	color:${webleger.site.style.primary.background.color};
}

.secondary a.no_state:link, 
.secondary a.no_state:visited, 
.secondary a.no_state:hover, 
.secondary a.no_state:active,
.btn-secondary.no_state:link, 
.btn-secondary.no_state:visited, 
.btn-secondary.no_state:hover, 
.btn-secondary.no_state:active  {
  color: ${webleger.site.style.secondary.color} !important;
}
.secondary a.no_state:hover, 
.btn-secondary.no_state:hover  {
  color: ${webleger.site.style.secondary.background.color} !important;
}


.headerTile {
	text-align:center;
	padding:25px 0;
}

.association .blockTitle {
	text-align: center;
	margin-top:0;
	padding-top:25px;
}

.association  .histoire {
	background-color:${webleger.site.style.discret.background.color};
	color: black;
}
.association .valeurs {
	background-color:${webleger.site.style.highlight.background.color};
	color:${webleger.site.style.highlight.color};
}

.association .valeurs .card {
	text-align:center;
    box-shadow: none;
    padding: 10px;
    margin-top: 20px;
}
.association .valeurs .card_image {
	display: flex;
    height: 60px;
    width: 60px;
    margin: auto;
    border-radius: 9999px;
    background-color: #e5eae3;
    justify-content: center;
    align-items: center;
}

.association .equipe{
	background-color:${webleger.site.style.discret.background.color};
	color: black;
}
.association .equipe  .card {
	text-align:center;
    box-shadow: none;
    padding: 10px;
    margin-top: 20px;
}
.association .equipe  .card_image {
	display: flex;
    height: 60px;
    width: 60px;
    margin: auto;
    background-color:${webleger.site.style.background.color};
    border-radius: 9999px;
    background-color: #e5eae3;
    justify-content: center;
    align-items: center;
}
.association .equipe  .blockContent {
	text-align:center;
}

.association .legal {
	background-color:${webleger.site.style.highlight.background.color};
}
.association .legal .card {
	text-align:center;
    box-shadow: none;
    padding: 10px;
    margin-top: 20px;
}
.association .legal .card_image {
	display: flex;
    height: 60px;
    width: 60px;
    margin: auto;
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
	color:${webleger.site.style.primary.background.color};
}

.activitees .pageContent .block_title_image {
	display:flex;
    height: 60px;
    width: 60px;
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
	color:${webleger.site.style.primary.background.color};
	background-color:#e5eae3;
}

.activitees .pageContent .blockIcon {
	border-radius:20px;
	width:250px;
	height:auto;
	margin:auto;
	max-width:initial;
}

.activitees .pageContent .blockContent{
	padding-left:0;
}

.activitees .objectif2026 {
	background-color: ${webleger.site.style.highlight.background.color};
	text-align:center;
	padding-bottom: 20px;
}

.activitees .objectif2026 ul {
	margin: 0 auto;
	background-color: white;
	text-align:left;
	padding:15px;
	border-radius:15px;
	margin-bottom:15px;
	border:2px solid ${webleger.site.style.discret.background.color};
	color: black;
	
}
.activitees .objectif2026 ul li {
	background: url(${webleger.build.host}/images/tick_circle.svg);
	padding: 5px 30px 5px 25px;
	list-style: none;
	margin: 0;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: 0px 3px;
	margin-top: 7px;
}

.nousAider .merciDonateurs .blockTitle {
	margin-top:0;
	padding-left:10px;
}

.nousAider .particuliers .card {
	text-align:center;
    box-shadow: none;
    padding: 10px;
    margin-top: 20px;
    border: 2px solid hsl(212,20%,85%);
}
.nousAider .particuliers .card_image {
	display: flex;
    height: 60px;
    width: 60px;
    margin: auto;
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
	color:${webleger.site.style.primary.background.color};
}

.nousAider .collectif .card {
	text-align:center;
    box-shadow: none;
    padding: 10px;
    margin-top: 20px;
    border: 2px solid hsl(212,20%,85%);
}
.nousAider .collectif .card_image {
	display: flex;
    height: 60px;
    width: 60px;
    margin: auto;
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
	color:${webleger.site.style.primary.background.color};
}

.partenaires .associations .card {
	text-align:center;
    box-shadow: none;
    padding: 10px;
    margin-top: 20px;
    align-items: center;
    border: 2px solid hsl(212,20%,85%);
}
.partenaires .associations .card_image {
	display: flex;
    height: 60px;
    width: 60px;
    margin: auto !important;
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
	color:${webleger.site.style.primary.background.color};
}

.partenaires .magasins .subContent_tags {
	text-align:left;
	padding-left: 5px;
	margin-top: 5px;
}

.partenaires .magasins .subContent_tag {
	display: inline-block;
    list-style-type: none;
    background-color:${webleger.site.style.primary.background.color};
    color:${webleger.site.style.primary.color};
    border: 1px solid ${webleger.site.style.primary.background.color};
    border-radius:12px;
    padding: 0px 3px;
    margin-top: 5px;
    margin-left:0;
    text-align:left;
    font-size:small;
}

.partenaires .magasins .card {
	text-align:center;
}
.partenaires .magasins .card  img {
	height:auto;
}

.infos .card {
	display: flex;
	flex-flow: column;
}

.infos .card_image {
	width: auto;
	height:initial;
	max-height: 150px;
	margin: 0 auto !important;
	padding-top: 10px;
}
.infos .content_tags {
	display: flex;
	justify-content: flex-end;
	gap: 12px;
}
.infos .content_tags li {
	list-style-type: none;
	background-color: hsl(158, 27%, 39%);
	color: ${webleger.site.style.primary.color};
	border: 1px solid hsl(158, 27%, 39%);
	border-radius: 12px;
	padding: 3px;
	margin-top: 5px;
}

.contact_adopter a {
	padding: 10px;
	font-size: large;
	font-weight: bold;
	letter-spacing: 0.2rem;
	margin: 20px 0;
}

.animalAdopte .card_image_wraper, .animalInfirmerie .card_image_wraper {
	height: 200px;
	overflow: hidden;	
}

.animalAAdopter .card_image_wraper, .moreAdopter .card_image_wraper {
	height: 350px;
	overflow: hidden;	
}

.partenaireVeto .partenairesCard_image_wraper {
	height: 200px;
	overflow: hidden;	
}

.lieuCollectePermanent .partenairesCard_image_wraper {
	height: 200px;
	overflow: hidden;	
}

.aAdopterSubTemplate .animalChaton {
	padding:12px;
	border-radius:20px;
	margin:5px 0;
}

.aAdopterSubTemplate .animalBio {
	display: flex;
	flex-direction: column;
}

.aAdopterSubTemplate .animalOtherInfos {
	display: flex;
	flex-direction: column;
	border-radius:20px;
}

.aAdopterSubTemplate .animalOtherInfos .title {
	text-align:center;
}
.aAdopterSubTemplate .animalOtherInfos ul li {
	background-image: url(${webleger.build.host}/images/catTail.svg);
	padding: 0px 0px 5px 30px;
	list-style: none;
	margin: 0;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: 0 3px;
}
.aAdopterSubTemplate .animalOtherInfos .mainInfos .animalSexe {
	background-image: url(${webleger.build.host}/images/sexe.svg);
}
.aAdopterSubTemplate .animalOtherInfos .mainInfos .animalDateNaissance {
	background-image: url(${webleger.build.host}/images/dateNaissance.svg);
}
.aAdopterSubTemplate .animalOtherInfos .mainInfos .animalBonus {
	background-image: url(${webleger.build.host}/images/bonus.svg);
}
.aAdopterSubTemplate .animalOtherInfos .mainInfos .animalVigilance {
	background-image: url(${webleger.build.host}/images/vigilance.svg);
}
.aAdopterSubTemplate .animalOtherInfos .mainInfos .animalTarif {
	background-image: url(${webleger.build.host}/images/euro.svg);
}
.aAdopterSubTemplate .animalOtherInfos .mainInfos .animalAEviter {
	background-image: url(${webleger.build.host}/images/interdit.svg);
}
.aAdopterSubTemplate .animalOtherInfos .mainInfos .animalRequis {
	background-image: url(${webleger.build.host}/images/requis.svg);
}
.aAdopterSubTemplate .animalOtherInfos .animalNow .animalVisible {
	background-image: url(${webleger.build.host}/images/maison.svg);
}
.aAdopterSubTemplate .animalAdopter .btn {
	font-size: large;
	padding: 15px;
	margin-bottom: 20px;
}

#footer_blocks .block {
	text-align:left;
	padding-left:10px;
}
#footer_blocks .blockBody {
	flex-direction: row;
}

#footer_blocks .acrroche_footer .blockTitle img {
	width:50px;
	height:auto;
}
#footer_blocks .acrroche_footer .blockTitle {
	font-size:x-large;
}
#footer_blocks .acrroche_footer .blockContent {
	font-size:small;
}

#footer_blocks .footer_menu ul {
	padding-left:0px;
}
#footer_blocks .footer_menu li {
	list-style: none;
}

#footer_blocks .contact  img {
	margin:0;
}

#push,
#footer {
  padding: 0;
}

@media screen and (min-width: 640px) {
	#preHeader_blocks {
		justify-content: flex-end;
	}
	#preHeader .social_icon_and_text .blockContent{
		flex-flow: row;
	}
	.preHeader .blockContent {
		margin-left:25px;
	}
	.lp_title {
		min-height:250px;
	}
	.lp_title .blockTitle {
		font-size:400%;
	}
	.lp_title .title_cta {
		gap:50px;
	}
	.activitees .pageContent .blockIcon {
		height:auto;
		margin:0;
	}
	.activitees .pageContent .imageLeftTitleAndContentSubTemplate .blockIcon {
		margin-right:12px !important;
	}
	.activitees .pageContent .imageRightTitleAndContentSubTemplate .blockIcon {
		margin-left:12px !important;
	}
	.activitees .objectif2026 ul {
		width:60%;
	}
	#mainContent .cardAnimal .card .card_image {
		width: 100%;
	}
	.aAdopterSubTemplate .animalBio {
		flex-direction: row;
	}
	.aAdopterSubTemplate .animalBio .animalPhoto {
		width: 50%;
		text-align: center;
	}
	.aAdopterSubTemplate .animalBio .animalDescription {
		width: 50%;
	}
	.aAdopterSubTemplate .animalOtherInfos {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.aAdopterSubTemplate .animalOtherInfos .mainInfos {
		width:30%;
	}
	.aAdopterSubTemplate .animalOtherInfos .animalCaractere {
		width:30%;
	}
	.aAdopterSubTemplate .animalOtherInfos .animalNow {
		width:30%;
	}
	
}
